In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("aligned_records_only.csv")

In [3]:
df.shape[0]

175

In [4]:
df.columns

Index(['company_name', 'us_ticker_name', 'local_ticker', 'index', 'headline',
       'description', 'key_takeaways', 'date', 'timestamp', 'breaking_recap',
       'breaking_recap_reasoning', 'source', 'reporter', 'classification',
       'confidence', 'news_worthy_reasoning', 'news_worthy_key_factors',
       'news_sentiment', 'event_category', 'actionable_intelligence',
       'original_headline', 'original_language', 'translated_language', 'url',
       'job_load_timestamp', 'pipeline_executed_timestamp', 'llm_model',
       'main_content', 'main_content_en', 'source_en', 'parsed_date',
       'sentiment_category', 'alignment', 'market_car_3d', 'market_car_pre_3d',
       'market_sentiment_alignment', 'market_reaction_day',
       'market_impact_strength', 'market_t0_close',
       'market_t0_stock_pct_change', 'market_t0_index_close',
       'market_t0_index_pct_change', 'market_t0_relative_index_change',
       'market_t0_gap_pct', 'market_t0_stock_intraday',
       'market_t0_index_intraday', 'market_t0_sigma_move',
       'market_t0_volume_ratio', 'market_t0_volume_z', 'market_t1_close',
       'market_t1_stock_pct_change', 'market_t1_index_close',
       'market_t1_index_pct_change', 'market_t1_relative_index_change',
       'market_t1_gap_pct', 'market_t1_stock_intraday',
       'market_t1_index_intraday', 'market_t1_sigma_move',
       'market_t1_volume_ratio', 'market_t1_volume_z'],
      dtype='object')

In [5]:
df.groupby('company_name').size().reset_index(name='count')

                       company_name  count
0                    ADVANTEST CORP     16
1             BANDAI NAMCO HOLDINGS      5
2               CHUGAI PHARMACEUTIC      9
3                        FANUC CORP     17
4                       HITACHI LTD      1
5                         HOYA CORP      7
6                       KOMATSU LTD      5
7                     MARUBENI CORP      9
8               MITSUBISHI ELECTRIC     15
9       MITSUBISHI HEAVY INDUSTRIES     11
10              MITSUBISHI UFJ FINL      4
11          PANASONIC HOLDINGS CORP      8
12  Renesas Electronics Corporation      6
13                   SHIN-ETSU CHEM      4
14                     SHISEIDO LTD      7
15                         SMC CORP      6
16               SUMITOMO ELEC INDS      9
17                SUZUKI MOTOR CORP      8
18                       Sony Group     14
19                TOYOTA MOTOR CORP     14

In [6]:
from adr_loader import load_adr_data

In [7]:
adr_data = load_adr_data()

Reading JSON files from: /Users/tylerryoo/venv-tyler/vgeo-mns/streamlit_app/advanced_analysis/adr_json
Successfully processed 20 CSV files.
Loaded 20 total records.

In [8]:
adr_data.head()

,adr_id,Name,adr_info
0,adr_jp_05,MITSUBISHI UFJ FINL,"{'US_ticker': 'MUFG', 'JP_ticker': '8306 JP', ..."
1,adr_jp_13,BANDAI NAMCO HOLDINGS,"{'US_ticker': 'NCBDY', 'JP_ticker': '7832 JP',..."
2,adr_jp_09,HITACHI LTD,"{'US_ticker': 'HTHIY', 'JP_ticker': '6501 JP',..."
3,adr_jp_08,SMC CORP,"{'US_ticker': 'SMCAY', 'JP_ticker': '6273 JP',..."
4,adr_jp_12,HOYA CORP,"{'US_ticker': 'HOCPY', 'JP_ticker': '7741 JP',..."

In [9]:
adr_data['adr_info'][0]

{'US_ticker': 'MUFG',
 'JP_ticker': '8306 JP',
 'sector_list': ['Financials'],
 'business_segment_categories': {'Retail Banking': ['Financials'],
  'Corporate Banking': ['Financials'],
  'Trust Banking': ['Financials'],
  'Investment Banking & Trading': ['Financials'],
  'Asset Management': ['Financials'],
  'Other Financial Services': ['Financials']},
 'US_peer_group': {'JPMorgan Chase & Co.': {'US_ticker': 'JPM'},
  'Bank of America': {'US_ticker': 'BAC'},
  'Wells Fargo & Company': {'US_ticker': 'WFC'},
  'Citigroup Inc.': {'US_ticker': 'C'},
  'Goldman Sachs Group': {'US_ticker': 'GS'},
  'Morgan Stanley': {'US_ticker': 'MS'},
  'U.S. Bancorp': {'US_ticker': 'USB'},
  'PNC Financial Services': {'US_ticker': 'PNC'}},
 'JP_peer_group': {'Sumitomo Mitsui Financial Group': {'US_ticker': 'SMFG',
   'JP_ticker': '8316 JP'},
  'Mizuho Financial Group': {'US_ticker': 'MFG', 'JP_ticker': '8411 JP'},
  'Nomura Holdings': {'US_ticker': 'NMR', 'JP_ticker': '8604 JP'},
  'Dai-ichi Life Holdings': {'US_ticker': 'DLICY', 'JP_ticker': '8750 JP'},
  'Japan Post Holdings': {'US_ticker': 'JPHLY', 'JP_ticker': '6178 JP'}}}

In [10]:
import ast

df = pd.read_csv('aligned_records_with_peers.csv')

sector_performance = df.groupby('sector')[['market_t1_relative_index_change', 'news_sentiment']].agg(['mean'])

print(sector_performance)

                       market_t1_relative_index_change news_sentiment
                                                  mean           mean
sector
Communication Services                        0.827878       0.260000
Consumer Discretionary                        0.931855       0.531818
Consumer Staples                             -0.400820      -0.114286
Financials                                    2.456354       0.875000
Health Care                                  -0.062333       0.753125
Industrials                                   0.674124       0.488889
Information Technology                        2.612133       0.563889
Materials                                     0.388181       0.650000

In [11]:
df['peers_list'] = df['peers_list'].apply(ast.literal_eval)

In [12]:
df['peers_list']

0      [SZKMY, HMC, NSANY, MMTOY, DLICY, SFTBY, GM, F...
1      [KAOOY, POLAH, KOSAY, EL, COTY, REV, PG, UL, JNJ]
2      [SZKMY, HMC, NSANY, MMTOY, DLICY, SFTBY, GM, F...
3      [SZKMY, HMC, NSANY, MMTOY, DLICY, SFTBY, GM, F...
4      [SZKMY, HMC, NSANY, MMTOY, DLICY, SFTBY, GM, F...
                             ...
170          [NJDKY, OCPNY, CAJNY, STNCY, COO, JNJ, NVS]
171          [NJDKY, OCPNY, CAJNY, STNCY, COO, JNJ, NVS]
172    [OMRNY, FANUY, YASKY, KYCCF, TOSYY, ROK, ABB, ...
173    [OMRNY, FANUY, YASKY, KYCCF, TOSYY, ROK, ABB, ...
174    [OMRNY, FANUY, YASKY, KYCCF, TOSYY, ROK, ABB, ...
Name: peers_list, Length: 175, dtype: object